<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <title>Meals</title>
</head>
<body>
    <h1>Meals</h1>
    <ul>
        <% meals.forEach(meal => { %>
            <li>
                <h2><%= meal.name %></h2>
                <p>Ingredients: <%= meal.ingredients.join(', ') %></p>
                <p>Calories: <%= meal.calories %></p>
                <p>Protein: <%= meal.protein %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>